body {
    background: black;
    width: 100vw;
    height: 100vh;
}

#top {
    color: white;
    position: relative;
    text-align: center;
    top: 15vh;
    transform: translate(30vw);

    font-size: 5vh;
}

.top {
    display: inline-block;
    opacity: 0;
}

#top2 {
    color: white;
    position: relative;
    text-align: center;
    top: 16vh;

    font-size: 2.5vh;
}

.top2 {
    display: inline-block;
    opacity: 0;
}

.logo-path {
    stroke: #69b1f5;
    fill: transparent;
}

#svg {
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    gap: 2vh; /* Gap between SVGs */
}

.svg2 {
    stroke: #f56998;
    transform: translate(25%, 0%);
}